{% extends 'base.html.twig'%}
{% block body %}
    {% for serie in series %}
    <div class="media">

        <img class="align-self-start mr-3" src="{{ serie.poster }}" alt="{{ serie.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ serie.id }} / {{ serie.title }}</h1>
            <p>{{ serie.summary }}</p>
            <p>Categorie : {{ serie.category.name }}</p>
        </div>
    </div>
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}