{% extends 'base.html.twig' %}
{% block body %}
<div class="media">
    <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">{{ program.title }}</h1>
        <p>Categorie : {{ program.Category.name }}</p>
        <p>Saison N° {{ season.number }}  Episode N° {{ episode.number }}  Titre : {{ episode.title }}</p>
        <p>Résumé : {{ episode.synopsis }}</p>

    </div>
</div>
    <a href="{{ path('wild_season', {'id':season.id })}}">Retour à la liste des épisodes de la saison {{ season.number }}</a>
    <p><a href="{{ path('wild_show', { 'slug':  program.title|lower}) }}">Retour aux saisons</a></p>
    <p><a href="{{ path('wild_index') }}"> Retour à l'accueil </a></p>

{% endblock %}
