{% extends 'base.html.twig' %}
{% block title %} All programs {% endblock %}
{% block body %}
    {{ form_start(formSearch) }}
        {{ form_row(formSearch.searchField, {'attr' : {'placeholder': "Entrer une série"}}) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(formSearch) }}
{{ serie }}

<h1>{{ website }} : Toutes les séries de la table program :</h1>
    {%  for program in programs %}
        <div>
            <h2><a href="{{ path('wild_show', { 'slug':  program.title|lower}) }}">{{ loop.index }} / {{ program.title }} </a> - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>


{% endblock %}

