{% extends 'base.html.twig' %}
{% block title %}{{ serie.title }}{% endblock %}
{% block body %}
    <h1> Saison {{ saison.number }} de {{ serie.title}}</h1>
<h2>Liste des épisodes</h2>
{% for episode in episodes %}

<ul>
     <a href="{{ path('wild_episode', {'id': episode.id}) }}"> <li> <h4>Episode N°{{ episode.number}} : {{ episode.title }}</h4></li></a>

</ul>

{% endfor %}
    <a href="{{ path('wild_show', { 'slug':  serie.title|lower}) }}">Retour aux saisons</a>
    <p><a href="{{ path('wild_index') }}">Retour à l'accueil</a></p>
{% endblock %}
