{% extends 'base.html.twig' %}
{% block title %} {{ slug }} {% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{ (vich_uploader_asset(program, 'posterFile')) }}" alt="{{ program.title }} poster" height="300px">
        <div class="media-body">
            <h1 class="mt-0">
                {{ program.title }}
{% if app.user %}
            {% set movies=app.user.watchlist %}
            {% for movie in movies %}
            {% if movie.title == program.title %}
                <i class="fas fa-heart"></i>
            {% else %}
                <i class="far fa-heart"></i>
                    {% endif %}
                    {% endfor %}
{% endif %}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.Category.name }}</p>
            <p>Saisons</p>
            <ul>
                {% for season in seasons %}
                    <li><h4><a href="{{ path('wild_season', {'id':season.id })}}">Saison {{ season.number }}</a></h4></li>

                    <li><h5>Histoire :</h5> <p>{{ season.description }} </p></li>
                    {% else %}
                    <p class="alert alert-danger"> Aucune saison pour l'instant en cours</p>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
    {%endif%}
    <a href="{{ path('wild_index') }}">
       Retour à l'accueil
    </a>
{% endblock %}