{% extends 'base.html.twig'%}
{% block body %}
Nom {{ actor.name }}
    Séries :
    <ul>
        {% for program in actor.programs %}

            <a href="{{ path('program_show', {'slug' : program.slug}) }}"> <li>{{ program.title }} </li></a>
        {% else %}
            <li>Aucune série pour cet acteur</li>
        {% endfor %}
    </ul>


    <a href="{{ path('actor_index') }}">back to list</a>
{% if is_granted('ROLE_ADMIN')  %}
    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}