{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur Wild Series</h1>
    <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
        Testing show() method from WildController with a real program s slug.
    </a>
    <br>
    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
    </a>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
    {% for program in programs %}

                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <a href="{{ path('wild_show', {'slug': program.slug}) }}">    <img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}"></a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ program.title }}</h5>
                                    <p class="card-text">{{ program.summary }}</p>
                                    <a href="{{ path('wild_show', { 'slug': program.slug}) }}" class="btn btn-primary">Voir plus</a>
                                </div>
                            </div>
                        </div>
                    </div>

    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}