
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="{{ path('app_index') }}">Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('wild_index') }}">Wild</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('actor_index') }}">Acteurs</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Séries
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('program_index') }}">Toutes les séries</a>
                    <a class="dropdown-item" href="{{ path('wild_show_category', { categoryName : 'horreur'}) }}">Category: Horreur</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('wild_show_categories') }}">Voir toutes les catégories</a>
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ajouter
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="{{ path('category_add') }}">Ajouter une catégorie</a>
                    <a class="dropdown-item " href="{{ path('program_new') }}">Ajouter une série</a>
                    <a class="dropdown-item " href="{{ path('season_new') }}">Ajouter une saison</a>
                    <a class="dropdown-item " href="{{ path('episode_new') }}">Ajouter un épisode</a>

                </div>
            </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item active">
                {{ app.user.username }}</li>
                <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter <span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
       </ul>


    </div>
</nav>